.botao{
  padding: 25px 100px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 6px 13px 0px hsla(192, 100%, 9%, 0.22);
  background-color: var(--cor-p1);
  transition: .3s ease-out;
}

.botao__header{
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px hsla(322, 100%, 66%, 0.22);
  background-color: transparent;
}

.botao__footer{
  padding: 12px 41px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}


.botao:hover,.botao__footer{
  background-color: var(--cor-p2);
}

@media (max-width:400px){
  .botao{
    padding: 25px 50px;
  }
}