:root{
  --cor-0:#00252E;
  --cor-1:#F6FBFF;
  --cor-2:#fff;
  --cor-3:hsla(208, 12%, 55%, 1);
  

  --cor-p1:hsl(322, 100%, 66%);
  --cor-p2:hsl(321, 100%, 78%);
  --cor-p3:hsl(0, 100%, 63%);
}

.cor-0{
  color:var(--cor-0)
}
.cor-1{
  color:var(--cor-1)
}
.cor-2{
  color:var(--cor-2)
}
.cor-3{
  color:var(--cor-3)
}
.cor-p1{
  color:var(--cor-p1)
}
.cor-p2{
  color:var(--cor-p2)
}
.cor-p3{
  color:var(--cor-p3)
}